@charset "utf-8";
/* Style for 'resurser/kurslit.html' */

.book {
	margin: 1em 0pt 0pt 25px;
	width: 530px;
/*
	border-top: 1px solid #ccc;
*/
	padding-top: 5px
}

.book p {
	margin-bottom: 1em;
}

.gbs_preview_button img {
	border: 0;
	margin: 0
}

.gbs_thumb_img {
	float: right;
	margin: 0 0 10px 10px;
        border: 1px solid #666;
	padding: 2px
}
